/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define COMBOTIMER 75
#define REQUIREPRIORIDLE 50

&sk {
      release-after-ms = <600>;
      quick-release;
};

/ {
      conditional_layers {
            compatible = "zmk,conditional-layers";
                  tri_layer {
                        if-layers = <1 2>;
                        then-layer = <3>;
                  };
      };

      behaviors {
      };

      combos {
            compatible = "zmk,combos";

            ctrlW {
                  bindings = <&kp LC(W)>;
                  timeout-ms = <COMBOTIMER>;
                  require-prior-idle-ms = <REQUIREPRIORIDLE>;
                  layers = <0>;
                  key-positions = <2 3>;
            };

            ctrl {
                  bindings = <&kp LCTRL>;
                  timeout-ms = <COMBOTIMER>;
                  require-prior-idle-ms = <REQUIREPRIORIDLE>;
                  layers = <0>;
                  key-positions = <13 14>;
            };

            esc {
                  bindings = <&kp ESC>;
                  timeout-ms = <COMBOTIMER>;
                  require-prior-idle-ms = <REQUIREPRIORIDLE>;
                  layers = <0>;
                  key-positions = <15 16>;
            };

            bksp {
                  bindings = <&kp BACKSPACE>;
                  timeout-ms = <COMBOTIMER>;
                  require-prior-idle-ms = <REQUIREPRIORIDLE>;
                  layers = <0>;
                  key-positions = <19 20>;
            };

            shft {
                  bindings = <&kp LSHFT>;
                  timeout-ms = <COMBOTIMER>;
                  require-prior-idle-ms = <REQUIREPRIORIDLE>;
                  layers = <0>;
                  key-positions = <25 26>;
            };

            shftV {
                  bindings = <&kp LS(V)>;
                  timeout-ms = <COMBOTIMER>;
                  require-prior-idle-ms = <REQUIREPRIORIDLE>;
                  layers = <0>;
                  key-positions = <27 28>;
            };
      };

      keymap {
            compatible = "zmk,keymap";

            default_layer {
                  bindings = <
// ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮ ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
// |          |  Q       |  W(CTRLw)|  E(CTRLw)|  R       |  T       | |  Y       |  U       |  I       |  O       |  P       |          |
      &trans     &kp Q      &kp W      &kp E      &kp R      &kp T        &kp Y      &kp U      &kp I      &kp O      &kp P      &trans
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤ ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
// |          |  A(CTRL1)|  S(CTRL2)|  D(ESC1) |  F(ESC2) |  G       | |  H       |  J(BKSP1)|  K(BKSP2)|  L       |  :;      |          |
      &trans     &kp A      &kp S      &kp D      &kp F      &kp G        &kp H      &kp J      &kp K      &kp L      &kp SEMI   &trans
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤ ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
// |          |  Z(SHFT1)|  X(SHFT2)|  C(SHFTv)|  V(SHFTv)|  B       | |  N       |  M       |  , <     |  . >     |  /?      |          |
      &trans     &kp Z      &kp X      &kp C      &kp V      &kp B        &kp N      &kp M      &kp COMMA  &kp DOT    &kp FSLH   &trans
// ╰──────────┴──────────┴──────────┴──────────┼──────────┼──────────┤ ├──────────┴──────────┴──────────┼──────────┴──────────┴──────────╯
//                                  |          |  LY1     |  SPC     | |  RETURN  |  LY2     |          |
                                       &trans     &mo 1      &kp SPACE    &kp RET    &mo 2      &trans
//                                  ╰──────────┴──────────┴──────────╯ ╰──────────┴──────────┴──────────╯
//
// 0
// ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮ ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
// |          |  Q       |  W(CTRLw)|  E(CTRLw)|  R       |  T       | |  Y       |  U       |  I       |  O       |  P       |          |
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤ ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
// |          |  A(CTRL1)|  S(CTRL2)|  D(ESC1) |  F(ESC2) |  G       | |  H       |  J(BKSP1)|  K(BKSP2)|  L       |  :;      |          |
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤ ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
// |          |  Z(SHFT1)|  X(SHFT2)|  C(SHFTv)|  V(SHFTv)|  B       | |  N       |  M       |  , <     |  . >     |  /?      |          |
// ╰──────────┴──────────┴──────────┴──────────┼──────────┼──────────┤ ├──────────┴──────────┴──────────┼──────────┴──────────┴──────────╯
//                                  |          |  LY1     |  SPC     | |  RETURN  |  LY2     |          |
//                                  ╰──────────┴──────────┴──────────╯ ╰──────────┴──────────┴──────────╯

                  >;
            };
            lower_layer {
                  bindings = <
// ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮ ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
// |          |  1       |  2       |  3       |  4       |  5       | |  6       |  7       |  8       |  9       |  0       |          |
      &trans     &kp N1    &kp N2     &kp N3     &kp N4     &kp N5       &kp N6     &kp N7     &kp N8     &kp N9     &kp N0     &trans
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤ ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
// |          |  CTRLst  |          |  TAB     |  DEL     |          | |  LFT     |  DWN     |  UP      |  RGT     |  '       |          |
      &trans     &sk LCTRL  &trans     &kp TAB    &kp DEL    &trans       &kp LEFT   &kp DOWN   &kp UP     &kp RIGHT  &kp SQT    &trans
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤ ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
// |          |  SHIFTst |  ALTst   |  TAB     |  GUIst   |          | |  HOME    |  PAGE_DWN|  PAGE_UP |  END     |  "       |          |
      &trans     &sk LSHFT  &sk LALT   &kp TAB    &sk LGUI   &trans       &kp HOME   &kp PG_DN  &kp PG_UP  &kp END    &kp LSHFT(SQT) &trans
// ╰──────────┴──────────┴──────────┴──────────┼──────────┼──────────┤ ├──────────┴──────────┴──────────┼──────────┴──────────┴──────────╯
//                                  |          |          |          | |  RETURN  |          |          |
                                       &trans     &trans     &trans       &kp RET    &trans     &trans
//                                  ╰──────────┴──────────┴──────────╯ ╰──────────┴──────────┴──────────╯
//
// 1
// ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮ ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
// |          |  1       |  2       |  3       |  4       |  5       | |  6       |  7       |  8       |  9       |  0       |          |
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤ ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
// |          |  CTRLst  |          |  TAB     |  DEL     |          | |  LFT     |  DWN     |  UP      |  RGT     |  '       |          |
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤ ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
// |          |  SHIFTst |  ALTst   |  TAB     |  GUIst   |          | |  HOME    |  PAGE_DWN|  PAGE_UP |  END     |  "       |          |
// ╰──────────┴──────────┴──────────┴──────────┼──────────┼──────────┤ ├──────────┴──────────┴──────────┼──────────┴──────────┴──────────╯
//                                  |          |          |          | |  RETURN  |          |          |
//                                  ╰──────────┴──────────┴──────────╯ ╰──────────┴──────────┴──────────╯
                  >;
            };
            raise_layer {
                  bindings = <
// ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮ ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
// |          |  !       |  @       |  #       |  $       |  %       | |  ^       |  &       |  *       |  (       |  )       |          |
      &trans     &kp EXCL   &kp AT     &kp HASH   &kp DLLR   &kp PRCNT    &kp CARET  &kp AMPS   &kp KP_MULTIPLY &kp LPAR &kp RPAR &trans
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤ ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
// |          |          |          |          |          |          | |  =       |  ~       |  /       |  {       |  }       |          |
      &trans     &trans     &trans     &trans     &trans  &trans          &kp EQUAL  &kp TILDE  &kp SLASH   &kp LBRC   &kp RBRC   &trans
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤ ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
// |          |  \       |  `       |          | "|"      |          | |  +       |  -       |  _       |  [       |  ]       |          |
      &trans     &kp BSLH   &kp GRAVE  &trans     &kp PIPE   &trans       &kp PLUS   &kp MINUS  &kp UNDER  &kp LBKT   &kp RBKT   &trans
// ╰──────────┴──────────┴──────────┴──────────┼──────────┼──────────┤ ├──────────┴──────────┴──────────┼──────────┴──────────┴──────────╯
//                                  |          |          |  SPC     | |          |          |          |
                                       &trans     &trans     &kp SPACE    &trans    &trans     &trans
//                                  ╰──────────┴──────────┴──────────╯ ╰──────────┴──────────┴──────────╯
//
// 2
// ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮ ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
// |          |  !       |  @       |  #       |  $       |  %       | |  ^       |  &       |  *       |  (       |  )       |          |
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤ ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
// |          |          |          |          |          |          | |  =       |  ~       |  /       |  {       |  }       |          |
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤ ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
// |          |  \       |  `       |          | "|"      |          | |  +       |  -       |  _       |  [       |  ]       |          |
// ╰──────────┴──────────┴──────────┴──────────┼──────────┼──────────┤ ├──────────┴──────────┴──────────┼──────────┴──────────┴──────────╯
//                                  |          |          |  SPC     | |          |          |          |
//                                  ╰──────────┴──────────┴──────────╯ ╰──────────┴──────────┴──────────╯
                  >;
            };
            adjust_layer {
                  bindings = <
// ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮ ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
// |          |  F1      |  F2      |  F3      |  F4      |  F5      | |  F6      |  F7      |  F8      |  F9      |  F10     |          |
      &trans     &kp F1     &kp F2     &kp F3     &kp F4     &kp F5       &kp F6     &kp F7     &kp F8     &kp F9     &kp F10    &trans
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤ ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
// |          |  F11     |  F12     |          |  ALT+F4  |          | |  BTC     |          |          |          |          |          |
      &trans     &kp F11    &kp F12    &trans     &LA(F4)   &trans        &bt BT_CLR &trans    &trans      &trans     &trans     &trans
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤ ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
// |          |  TASKMNG | PRNTSCRN |          |  GAME    |          | |          |  BT1     |   BT2    |  BT3     |  BT4     |          |
      &trans &kp LC(LS(ESC)) &kp PSCRN &trans     &tog 4     &trans      &trans &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &trans
// ╰──────────┴──────────┴──────────┴──────────┼──────────┼──────────┤ ├──────────┴──────────┴──────────┼──────────┴──────────┴──────────╯
//                                  |          |          |          | |          |          |          |
                                       &trans     &trans     &trans      &trans    &trans     &trans
//                                  ╰──────────┴──────────┴──────────╯ ╰──────────┴──────────┴──────────╯
//
// 3
// ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮ ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
// |          |  F1      |  F2      |  F3      |  F4      |  F5      | |  F6      |  F7      |  F8      |  F9      |  F10     |          |
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤ ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
// |          |  F11     |  F12     |          |  ALT+F4  |          | |  BTC     |          |          |          |          |          |
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤ ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
// |          |  TASKMNG | PRNTSCRN |          |  GAME    |          | |          |  BT1     |   BT2    |  BT3     |  BT4     |          |
// ╰──────────┴──────────┴──────────┴──────────┼──────────┼──────────┤ ├──────────┴──────────┴──────────┼──────────┴──────────┴──────────╯
//                                  |          |          |          | |          |          |          |
//                                  ╰──────────┴──────────┴──────────╯ ╰──────────┴──────────┴──────────╯
                  >;
            };
            game_layer {
                  bindings = <
// ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮ ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
// |          |  Q       |  W       |  E       |  R       |  T       | |          |          |          |          |          |          |
      &trans     &kp Q      &kp W      &kp E      &kp R      &kp T        &trans     &trans      &trans    &trans     &trans     &trans
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤ ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
// |          |  A       |  S       |  D       |  F       |  G       | |          |          |          |          |          |          |
      &trans     &kp A      &kp S      &kp D      &kp F      &kp G        &trans     &trans      &trans    &trans     &trans     &trans
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤ ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
// |          |  Z       |  X       |  C       |  V       |  B       | |          |          |          |          |          |          |
      &trans     &kp Z      &kp X      &kp C      &kp V      &kp B        &trans     &trans      &trans    &trans     &trans     &trans
// ╰──────────┴──────────┴──────────┴──────────┼──────────┼──────────┤ ├──────────┴──────────┴──────────┼──────────┴──────────┴──────────╯
//                                  |          |  SHIFT   |  SPC     | |  ESC     |  RESET   |          |
                                       &trans     &kp LSHFT  &kp SPACE    &kp ESC    &tog 4    &trans
//                                  ╰──────────┴──────────┴──────────╯ ╰──────────┴──────────┴──────────╯
//
// 4
// ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮ ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
// |          |  Q       |  W       |  E       |  R       |  T       | |          |          |          |          |          |          |
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤ ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
// |          |  A       |  S       |  D       |  F       |  G       | |          |          |          |          |          |          |
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤ ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
// |          |  Z       |  X       |  C       |  V       |  B       | |          |          |          |          |          |          |
// ╰──────────┴──────────┴──────────┴──────────┼──────────┼──────────┤ ├──────────┴──────────┴──────────┼──────────┴──────────┴──────────╯
//                                  |          |  SHIFT   |  SPC     | |  ESC     |  RESET   |          |
//                                  ╰──────────┴──────────┴──────────╯ ╰──────────┴──────────┴──────────╯
                  >;
            };
      };
};
// ---------------------------------------------------------------------------------------------------------------------------------------
//
// 0
// ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮ ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
// |          |  Q       |  W(CTRLw)|  E(CTRLw)|  R       |  T       | |  Y       |  U       |  I       |  O       |  P       |          |
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤ ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
// |          |  A(CTRL1)|  S(CTRL2)|  D(ESC1) |  F(ESC2) |  G       | |  H       |  J(BKSP1)|  K(BKSP2)|  L       |  :;      |          |
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤ ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
// |          |  Z(SHFT1)|  X(SHFT2)|  C(SHFTv)|  V(SHFTv)|  B       | |  N       |  M       |  , <     |  . >     |  /?      |          |
// ╰──────────┴──────────┴──────────┴──────────┼──────────┼──────────┤ ├──────────┴──────────┴──────────┼──────────┴──────────┴──────────╯
//                                  |          |  LY1     |  SPC     | |  RETURN  |  LY2     |          |
//                                  ╰──────────┴──────────┴──────────╯ ╰──────────┴──────────┴──────────╯
// 1
// ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮ ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
// |          |  1       |  2       |  3       |  4       |  5       | |  6       |  7       |  8       |  9       |  0       |          |
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤ ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
// |          |  CTRL    |          |  TAB     |  DEL     |          | |  LFT     |  DWN     |  UP      |  RGT     |  '       |          |
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤ ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
// |          |  SHIFT   |  ALT     |  TAB     |  GUI     |          | |  HOME    |  PAGE_DWN|  PAGE_UP |  END     |  "       |          |
// ╰──────────┴──────────┴──────────┴──────────┼──────────┼──────────┤ ├──────────┴──────────┴──────────┼──────────┴──────────┴──────────╯
//                                  |          |          |          | |  RETURN  |          |          |
//                                  ╰──────────┴──────────┴──────────╯ ╰──────────┴──────────┴──────────╯
// 2
// ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮ ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
// |          |  !       |  @       |  #       |  $       |  %       | |  ^       |  &       |  *       |  (       |  )       |          |
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤ ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
// |          |          |          |          |          |          | |  =       |  ~       |  /       |  {       |  }       |          |
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤ ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
// |          |  \       |  `       |          | "|"      |          | |  +       |  -       |  _       |  [       |  ]       |          |
// ╰──────────┴──────────┴──────────┴──────────┼──────────┼──────────┤ ├──────────┴──────────┴──────────┼──────────┴──────────┴──────────╯
//                                  |          |          |  SPC     | |          |          |          |
//                                  ╰──────────┴──────────┴──────────╯ ╰──────────┴──────────┴──────────╯
// 3
// ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮ ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
// |          |  F1      |  F2      |  F3      |  F4      |  F5      | |  F6      |  F7      |  F8      |  F9      |  F10     |          |
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤ ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
// |          |  F11     |  F12     |          |  ALT+F4  |          | |  BTC     |          |          |          |          |          |
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤ ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
// |          |  TASKMNG | PRNTSCRN |          |  GAME    |          | |          |  BT1     |   BT2    |  BT3     |  BT4     |          |
// ╰──────────┴──────────┴──────────┴──────────┼──────────┼──────────┤ ├──────────┴──────────┴──────────┼──────────┴──────────┴──────────╯
//                                  |          |          |          | |          |          |          |
//                                  ╰──────────┴──────────┴──────────╯ ╰──────────┴──────────┴──────────╯
// 4
// ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮ ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
// |          |  Q       |  W       |  E       |  R       |  T       | |          |          |          |          |          |          |
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤ ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
// |          |  A       |  S       |  D       |  F       |  G       | |          |          |          |          |          |          |
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤ ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
// |          |  Z       |  X       |  C       |  V       |  B       | |          |          |          |          |          |          |
// ╰──────────┴──────────┴──────────┴──────────┼──────────┼──────────┤ ├──────────┴──────────┴──────────┼──────────┴──────────┴──────────╯
//                                  |          |  SHIFT   |  SPC     | |  ESC     |  RESET   |          |
//                                  ╰──────────┴──────────┴──────────╯ ╰──────────┴──────────┴──────────╯