/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

/ {
        conditional_layers {
                compatible = "zmk,conditional-layers";
                        tri_layer {
                                if-layers = <1 2>;
                                then-layer = <3>;
                };
        };

        behaviors {
                td0: tap_dance_0 {
                compatible = "zmk,behavior-tap-dance";
                label = "TAP_DANCE_0";
                #binding-cells = <0>;
                tapping-term-ms = <200>;
                bindings = <&kp F4>, <&kp LA(F4)>;
                };
        };

        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        bindings = <
// ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮ ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
// |          |  Q       |  W       |  E(ESC1) |  R(ESC2) |  T       | |  Y       |  U(BKSP1)|  I(BKSP2)|  O(DEL1) |  P(DEL2) |          |
      &trans     &kp Q      &kp W      &kp E      &kp R      &kp T        &kp Y      &kp U      &kp I      &kp O      &kp P      &trans
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤ ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
// |          |  A(CTRL) |  S       |  D       |  F       |  G(ALT)  | |  H(ALT)  |  J       |  K       |  L       |  ;:(CTRL)|          |
      &trans  &mt LCTRL A   &kp S      &kp D      &kp F    &mt LALT G   &mt RALT H   &kp J      &kp K      &kp L     &mt RCTRL SEMI &trans
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤ ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
// |          |  Z(SHFT) |  X       |  C       |  V       |  B(GUI)  | |  N(GUI)  |  M       |  , <     |  . >     |  /?(SHFT)|          |
      &trans  &mt LSHFT Z   &kp X      &kp C      &kp V    &mt LGUI B   &mt RGUI N   &kp M      &kp COMMA  &kp DOT   &mt RSFT FSLH &trans
// ╰──────────┴──────────┴──────────┴──────────┼──────────┼──────────┤ ├──────────┴──────────┴──────────┼──────────┴──────────┴──────────╯
//                                  |          |  TAB(LY1)|  SPC     | |  RETURN  |  LY2     |          |
                                       &trans     &lt 1 TAB  &kp SPACE    &kp RET    &mo 2      &trans
//                                  ╰──────────┴──────────┴──────────╯ ╰──────────┴──────────┴──────────╯
//
// 0
// ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮ ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
// |  TAB     |  Q       |  W       |  E(ESC1) |  R(ESC2) |  T       | |  Y       |  U(BKSP1)|  I(BKSP2)|  O(DEL1) |  P(DEL2) |  BKSP    |
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤ ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
// |  CTRL/ESC|  A(CTRL) |  S       |  D       |  F       |  G(ALT)  | |  H(ALT)  |  J       |  K       |  L       |  ;:(CTRL)|  ' "     |
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤ ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
// |  SHFT    |  Z(SHFT) |  X       |  C       |  V       |  B(GUI)  | |  N(GUI)  |  M       |  , <     |  . >     |  /?(SHFT)|  SHFT    |
// ╰──────────┴──────────┴──────────┴──────────┼──────────┼──────────┤ ├──────────┴──────────┴──────────┼──────────┴──────────┴──────────╯
//                                  |  GUI     |  TAB(LY1)|  SPC     | |  RETURN  |  LY2     |  ALT     |
//                                  ╰──────────┴──────────┴──────────╯ ╰──────────┴──────────┴──────────╯

                        >;
                };
                lower_layer {
                        bindings = <
// ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮ ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
// |          |  1       |  2       |  3       |  4       |  5       | |  6       |  7       |  8       |  9       |  0       |          |
      &trans     &kp N1    &kp N2     &kp N3     &kp N4     &kp N5       &kp N6     &kp N7     &kp N8     &kp N9     &kp N0     &trans
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤ ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
// |          |  ALT1(CT)|  ALT2    |  ALT3    |  ALT4    |  ALT     | |  LFT     |  DWN     |  UP      |  RGT     |  '(CTRL) |          |
      &trans &mt LCTRL LA(N1) &kp LA(N2) &kp LA(N3) &kp LA(N4) &kp LALT   &kp LEFT   &kp DOWN   &kp UP     &kp RIGHT &mt RCTRL SQT &trans
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤ ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
// |          |  GUI1(ST)|  GUI2    |  GUI3    |  GUI4    |  GUI     | |  HOME    |  PAGE_DWN|  PAGE_UP |  END     |  "(SHFT) |          |
      &trans &mt LSHFT LG(N1) &kp LG(N2) &kp LG(N3) &kp LG(N4) &kp LGUI   &kp HOME   &kp PG_DN  &kp PG_UP  &kp END   &mt RSHFT DQT &trans
// ╰──────────┴──────────┴──────────┴──────────┼──────────┼──────────┤ ├──────────┴──────────┴──────────┼──────────┴──────────┴──────────╯
//                                  |          |          |  SPC     | |  RET     |          |          |
                                       &trans     &trans     &kp SPACE    &kp RET    &trans     &trans
//                                  ╰──────────┴──────────┴──────────╯ ╰──────────┴──────────┴──────────╯
//
// 1
// ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮ ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
// |          |  1       |  2       |  3       |  4       |  5       | |  6       |  7       |  8       |  9       |  0       |          |
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤ ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
// |          |  ALT1(CT)|  ALT2    |  ALT3    |  ALT4    |  ALT     | |  LFT     |  DWN     |  UP      |  RGT     |  '(CTRL) |          |
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤ ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
// |          |  GUI1(ST)|  GUI2    |  GUI3    |  GUI4    |  GUI     | |  HOME    |  PAGE_DWN|  PAGE_UP |  END     |  "(SHFT) |          |
// ╰──────────┴──────────┴──────────┴──────────┼──────────┼──────────┤ ├──────────┴──────────┴──────────┼──────────┴──────────┴──────────╯
//                                  |          |          |  SPC     | |  RETURN  |          |          |
//                                  ╰──────────┴──────────┴──────────╯ ╰──────────┴──────────┴──────────╯
                        >;
                };
                raise_layer {
                        bindings = <
// ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮ ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
// |          |  !       |  @       |  #       |  $       |  %       | |  ^       |  &       |  *       |  (       |  )       |          |
      &trans     &kp EXCL   &kp AT     &kp HASH   &kp DLLR   &kp PRCNT    &kp CARET  &kp AMPS   &kp KP_MULTIPLY &kp LPAR &kp RPAR &trans
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤ ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
// |          |  `       |  ~       |          |          |          | |  \       |  =       |  +       |  {       |  }       |          |
      &trans     &kp GRAVE  &kp TILDE  &trans     &trans     &trans       &kp BSLH   &kp EQUAL  &kp PLUS   &kp LBRC   &kp RBRC   &trans
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤ ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
// |          |          |          |          |          |          | |  "|"     |  -       |  _       |  [       |  ]       |          |
      &trans    &trans     &trans     &trans     &trans     &trans        &kp PIPE   &kp MINUS  &kp UNDER  &kp LBKT   &kp RBKT   &trans
// ╰──────────┴──────────┴──────────┴──────────┼──────────┼──────────┤ ├──────────┴──────────┴──────────┼──────────┴──────────┴──────────╯
//                                  |          |          |  SPC     | |  RETURN  |          |          |
                                       &trans     &trans     &kp SPACE    &kp RET    &trans     &trans
//                                  ╰──────────┴──────────┴──────────╯ ╰──────────┴──────────┴──────────╯
//
// 2
// ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮ ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
// |          |  !       |  @       |  #       |  $       |  %       | |  ^       |  &       |  *       |  (       |  )       |          |
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤ ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
// |          |  `       |  ~       |          |          |          | |  \       |  =       |  +       |  {       |  }       |          |
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤ ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
// |          |          |          |          |          |          | |  "|"     |  -       |  _       |  [       |  ]       |          |
// ╰──────────┴──────────┴──────────┴──────────┼──────────┼──────────┤ ├──────────┴──────────┴──────────┼──────────┴──────────┴──────────╯
//                                  |          |          |  SPC     | |  RETURN  |          |          |
//                                  ╰──────────┴──────────┴──────────╯ ╰──────────┴──────────┴──────────╯
                        >;
                };
                adjust_layer {
                        bindings = <
// ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮ ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
// |          |  F1      |  F2      |  F3      |F4(Alt+F4)|  F5      | |  F6      |  F7      |  F8      |  F9      |  F10     |          |
      &trans     &kp F1     &kp F2     &kp F3     &td0       &kp F5       &kp F6     &kp F7     &kp F8     &kp F9     &kp F10    &trans
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤ ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
// |          |  TASKMNG |  PREV    |  PLY PAUS|  NEXT    |          | |  BTC     |          |          |  F11     |  F12     |          |
      &trans &kp LC(LS(ESC)) &kp C_PREV &kp C_PP  &kp C_NEXT &trans       &bt BT_CLR &trans    &trans     &kp F11    &kp F12    &trans
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤ ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
// |          |  PRNTSCRN|          |          |          |          | |          |  BT1     |   BT2    |  BT3     |  BT4     |          |
      &trans  &kp PSCRN    &trans     &trans     &trans     &trans      &trans &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &trans
// ╰──────────┴──────────┴──────────┴──────────┼──────────┼──────────┤ ├──────────┴──────────┴──────────┼──────────┴──────────┴──────────╯
//                                  |          |          |  SPC     | |  RETURN  |          |          |
                                       &trans     &trans     &kp SPACE    &kp RET    &trans     &trans
//                                  ╰──────────┴──────────┴──────────╯ ╰──────────┴──────────┴──────────╯
//
// 3
// ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮ ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
// |          |  F1      |  F2      |  F3      |F4(Alt+F4)|  F5      | |  F6      |  F7      |  F8      |  F9      |  F10     |          |
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤ ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
// |          |  TASKMNG |  PREV    |  PLY PAUS|  NEXT    |          | |  BTC     |          |          |  F11     |  F12     |          |
// ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤ ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
// |          |  PRNTSCRN|          |          |          |          | |          |  BT1     |   BT2    |  BT3     |  BT4     |          |
// ╰──────────┴──────────┴──────────┴──────────┼──────────┼──────────┤ ├──────────┴──────────┴──────────┼──────────┴──────────┴──────────╯
//                                  |          |          |  SPC     | |  RETURN  |          |          |
//                                  ╰──────────┴──────────┴──────────╯ ╰──────────┴──────────┴──────────╯
                        >;
                };
        };
};